[submodule "src/test/resources/test262-parser-tests"]
	path = src/test/resources/test262-parser-tests
	url = https://github.com/tc39/test262-parser-tests.git
[submodule "src/test/resources/shift-parser-expectations"]
	path = src/test/resources/shift-parser-expectations
	url = https://github.com/shapesecurity/shift-parser-expectations.git
[submodule "src/test/resources/test262"]
	path = src/test/resources/test262
	url = https://github.com/tc39/test262.git
