name: CI

on: [pull_request]

jobs:
  pre:
    name: Prerequisites
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Enforce CLA signature
        run: curl https://raw.githubusercontent.com/shapesecurity/CLA/HEAD/cla-travis.sh | bash

  test:
    name: Test
    runs-on: ubuntu-latest

    strategy:
      matrix:
        java: [8]

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}

      - name: Cache Maven packages
        uses: actions/cache@v2
        with:
          path: ~/.m2
          key: ${{ runner.os }}-${{ matrix.java }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-${{ matrix.java }}-m2

      - name: Build and test with Maven
        run: mvn --batch-mode --threads 8 clean verify

      - name: Build Jar with dependencies
        run: mvn assembly:assembly -DdescriptorId=jar-with-dependencies
